*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
}
.predio{
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    /* flex-direction: column; */
    background-color: rgb(44, 46, 45);
}
.predio img{
    width: 350px;
    border: red;
}
.janelas{
    margin-top: 5%;
    margin: 20px;
    background-color: antiquewhite;
    display: flex; 
   justify-content: center;
   align-items: center;
    /* display: flex;
    justify-content: center; */
    width: 20px;
    height: 20px;
}